section.new-tweet {
    background-color: #eee;
    padding: 10px;
    border: solid 1px darkgray;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
    border-bottom: solid 1px black;
}
textarea {
    width: 100%;
    padding: 3px;
}
span.counter {
    float: right;
    padding: 8px;
    font-size: 0.75em;
}