section.new-tweet {
    z-index: 3;
    width: 386px;
    background-color: #eee;
    padding: 10px;
    border: solid 1px darkgray;
    border-radius: 8px;
}

section.new-tweet h2 {
    margin-top: 0;
    border-bottom: solid 1px black;
}
section.new-tweet textarea {
    width: 100%;
    padding: 3px;
}
#counter {
    float: right;
    padding: 8px;
    font-size: 0.75em;
}