article.feed {
    margin-top: 10px;
    border: solid 1px darkgray;
    border-radius: 8px;
}

.feed {
    opacity: 0.6;
}

.feed:hover {
    opacity: 1.0;
    border: solid 1px black;
}

article.feed header {
    background-color:#eee;
    height: 50px;
    width: 99.99%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

article.feed .logo {
    float: left;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.name {
    float: left;
    padding: 5px;
    margin: 0;
    font-size: 1.2em;
}

.handle {
    float: right;
    padding: 10px;
    margin: 2px;
    font-size: 0.7em;

}

article.feed div {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

article.feed footer {
    border-top: solid 0.5px darkgray;
    padding: 10px;   
}

article.feed footer p {
    margin: 0;
    font-size: 0.6rem; 
}

