article {
    margin-top: 10px;
    border: solid 1px darkgray;
    border-radius: 8px;
    opacity: 0.6;
}

article:hover {
    opacity: 1.0;
    border: solid 1px black;
}

article:hover .icons {
    display: block;
}

article header {
    background-color:#eee;
    height: 50px;
    width: 99.99%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

article .logo {
    float: left;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.name {
    float: left;
    padding: 5px;
    margin: 0;
    font-size: 1.2em;
}

.handle {
    float: right;
    padding: 10px;
    margin: 2px;
    font-size: 0.7em;

}

article div {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

article footer {
    border-top: solid 0.5px darkgray;
    height: 30px;
    padding: 3px;
}

article footer p {
    float: left;
    margin: 4px;
    font-size: 0.8rem; 
}

.icons {
    float: right;
    display: none;
    padding: 3px 10px;
}

.icons i {
    padding-left: 3px;
}

